.head{
    width:75%;
    background-color: rgba(248, 248, 255, 0.45);
    color:rgb(255, 30, 0);
    font-weight:900;
    width:75%;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    
}
